       *{
      background-color: black
       }

            h1{
              color:white
              }

            p{
               color: white;
              }
            img{
               height: 400px;
               }
             h2{
              font-size: 20;
               }
            #title{
              font-family: 'Rubik Glitch', system-ui;
             }
